*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: ptsansnarrow;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }


#isshop,
#isproduct {
  color: #000;
  background-image: url("i/bg-shop.png");
  background-size: cover;
  background-repeat: no-repeat; }

.page {
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.h2 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 2rem; }

.h3 {
  font-size: 2.5rem;
  margin-bottom: 50px; }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #000;
  font: inherit;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color .2s linear, color .2s linear; }

.btn:hover,
.btn:focus,
.btn:active{
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

.shop-header {
  padding-top: 6rem;
  margin-bottom: 6rem; }

.path {
  display: flex; }

.path__item {
  padding-right: 3rem;
  margin-right: 2rem;
  list-style-type: none;
  position: relative; }
  .path__item::after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-45deg); }
  .path__item:last-child {
    opacity: .5; }
    .path__item:last-child::after {
      display: none; }

.main-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem; }

.shop-left {
  width: 25%; }

.filter__item{
  list-style-type: none;
  margin-bottom: 1rem; }
.shop-right {
  width: 74%; }

.check-filter,
.radio-filter {
  border: none; }
  .check-filter legend,
  .radio-filter legend {
    font-size: 2.4rem;
    margin-bottom: 2.5rem; }

.check-filter {
  margin-bottom: 5rem; }

.check__list,
.radio__list {
  display: flex;
  flex-direction: column; }

.check__item,
.radio__item {
  list-style-type: none;
  margin-bottom: 1.5rem; }

.grid-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem; }

.grid__item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }

.grid__body {
  padding: 1rem; }

.grid-a{
  text-decoration: underline;
  color: inherit;  
}

.grid__value {
  text-align: center;
  padding: 15px 30px;
  background-color: #e5e5e5; }


.value {
  padding: 15px 30px;
  background-color: #e5e5e5; }

.product_i-main,
.product_i img{
  background: #fff;
}

.product_i-main{
  margin-bottom: 3rem;}

.product_i-main img{
  width: 486px;
  height: 524px;}

.product_i img{
  width: 155px;
  height: 150px;}

.product_i {
  display: flex;
  justify-content: space-around; }
  .product_i img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }

.product-right {
  padding-top: 4rem;
  width: 40%; }

.desc__body {
  margin-bottom: 4rem; }

.desc__use {
  margin-top: 3rem; }

.desc__footer .h3 {
  margin-bottom: 3.5rem; }

.desc__item {
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  position: relative; }

.desc__item::before {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg); }

.footer {
  text-align: center;
  color: #fff;
  padding: 2rem 0;
  background-color: #212121; }

@media (min-width: 1440px) {
  html {
    font-size: 12px; }
  .container {
    max-width: 1200px; } }

@media (max-width: 768px) {
  html {
    font-size: 8px; }
  .container {
    max-width: 650px; }
  .shop-right {
    width: 70%; }
  .grid-table {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); } }

@media (max-width: 425px) {
  html {
    font-size: 8px; }
  .container {
    max-width: 400px; }
  .shop-main {
    flex-direction: column;
    margin: 0 auto; }
  .shop-left {
    width: 100%; }
  .shop-right {
    width: 100%; }
  .grid-table {
    display: flex;
    flex-direction: column;
    align-items: center; } }